@model WorkoutLog.ViewModel.CollectionViewModel

@{
    ViewBag.Title = "Atlas ćwiczeń";
}

<br/>
<a href="@Url.Action("Create", "Collection")">
    <button type="button" class="btn btn-default btn-lg">
        Dodaj nowe <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
</a>
<br/>
<br />
<div>
    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="60%">
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Opis ćwiczenia</th>
                <th>Opcje</th>
            </tr>
        </thead>

        <tbody>
        @foreach (var exercises in Model.Exercises)
        {
            <tr>
                <td>@exercises.ExerciseName</td>
                <td>@exercises.ExerciseDesc</td>
                <td><a href="@Url.Action("Delete", "Collection", new {id = exercises.ExerciseID})">
                    <button type="button" class="btn btn-default">Usuń <span class="glyphicon glyphicon-remove"></span></button>
                </a></td>
            </tr>
        }
        </tbody>
    </table>
</div>