@model WorkoutLog.ViewModel.CollectionViewModel

@{
    ViewBag.Title = "Atlas ćwiczeń";
}



<div>
    <ul>
        @foreach (var exercises in Model.Exercises)
        {
            <li>
                @exercises.trainingName
            </li>
        }
    </ul>
</div>