@{
    ViewBag.Title = "Twoje treningi";
}


<div class="body">

    <img id="logo" src="@Url.Content("~/Content/Images/work-iconb.png")" alt="Workout" />

    <p class="home-page"><strong>Workout Log</strong><br/> to Twój własny dziennik treningowy, który pomoże Ci śledzić postępy w treningu.
        Przygotowaliśmy dla Ciebie bazę ćwiczeń, którą możesz rozbudowywać o własne ćwiczenia. Serdecznie zapraszamy do korzystania z naszej aplikacji.
    </p>
    <p class="home-footer">NO PAIN NO GAIN !!!</p>
</div>