
@{
    ViewBag.Title = "Instrukcja";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Jak korzystać ?</h2>

<hr/>

<p>Aplikacja jest bardzo łatwa w obsłudze. Wystarczy kilka chwil i będziemy ją znać jak własną kieszeń </p>
<br/>
<h4>Dodanie treningu</h4>

<p>Wybieramy <strong>Dodaj trening</strong> a następnie uzupełniamy datę i nazwę treningu
</p>
<br />
<h4>Rozbudowa atlasu ćwiczeń</h4>

<p><strong>Atlas ćwiczeń</strong> zawiera całą bazę ćwiczeń, które możemy wybrać w danym treningu. 
    Jeżeli chcemy stworzyć własne ćwiczenie wystarczy postąpić analogicznie jak w przypadku nowego treningu.</p>